.app.dark {
	--background: rgb(30 30 30);
	--inverted-background: rgb(21 21 21);
	--primary-color: rgb(80 209 119);
	--primary-hover-color: rgb(80 193 114);
	--secondary-color: black;
	--inverted-secondary: white;
	--gray-color: rgb(184, 184, 184);
	--light-gray-color: rgba(79, 79, 79, 0.5);
	--description-text: rgb(221 221 221);
	--red-color: rgb(255, 0, 0);
	--white: white;
}
