.selectElement {
	padding: 8px 8px;
	font: var(--font-s);
	background: var(--light-gray-color);
	width: 100%;
	border: none;

	border-radius: 4px;
}
.option {
	font: var(--font-very-s);
	height: 24px;
	padding: 20px;
}
