.render_item {
	gap: 0px;
	opacity: 0;

	max-height: 0;
	transition: max-height 0.25s ease-out;
	overflow: hidden;
}

.is_open {
	opacity: 1;
	max-height: 1500px;
	transition: max-height 0.35s ease-in;
}
