.ActivationPage{
    display: grid;
    justify-content: center;
    height: fit-content;   
    gap: 30px;
}
.text{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 50%;

}
.small_text{
    color: var(--gray-color);
    margin-top: 10px;

}
.buttons{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 50%;

}
    