.CreateModulePage {
	display: grid;
	gap: 40px;
	grid-template-columns: 65% 33%;
	grid-template-rows: minmax(175px, auto) 1fr;
	justify-content: space-between;
	grid-template-areas:
		'course_title course_card'
		'module_list course_card';
}
.course_card {
	grid-area: course_card;
	position: relative;
}

.form_wrapper {
	padding: 20px;
	background: var(--background);
	border-radius: 8px;
	width: 100%;
	height: fit-content;

	position: sticky;
	top: calc(var(--navbar-height) + var(--layout-padding));
	left: 0;
}
